<html>

<head>
  <title>Lunch Finder</title>
  <link rel="stylesheet" type="text/css" href="lib/Semantic-UI-CSS-2.1.6/semantic.min.css">
  <script src="lib/Semantic-UI-CSS-2.1.6/semantic.min.js"></script>
</head>

<body ng-app="lunchFinder">
  <main ng-controller="GiveTheGovernmentABurrito">
    <div class="ui green inverted menu">
      <div class="header item">
        <i class="food icon"></i> Lunch Finder
      </div>

      <div class="item">
        <div class="ui large icon input">
          <input type="text" ng-model="searchTerm" ng-change="doSearch()" name="searchTerm" placeholder="Please search for food">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="item">
        <div class="ui large icon input">
          <input type="text" ng-model="searchPostCode" ng-change="doSearch()" name="searchTerm" placeholder="Type your postcode">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="ui four stackable cards">
      <a class="yellow card" ng-repeat="package in searchData.packages">
        <div class="image">
          <img class="ui image" src="{{ package.images[0].medium}}">
        </div>
        <div class="content">
          <div class="header">{{ package.name }}</div>
          <div class="meta">
            <span class="vendor">{{ package.vendor.name }}</span>
            <span class="right floated cuisine">{{ package.cuisineType.name }}</span>
          </div>
        </div>
      </a>
    </div>
  </main>

  <script src="lib/angular.min.js"></script>
  <script src="lib-integration.js"></script>
  <script src="node_modules/citypantry-js-lib/dist/lib-es5-with-browser-polyfill.js"></script>
  <script src="your-code.js"></script>
</body>

</html>
